<div  id="page-wrapper"
      style="margin-bottom: 1000px;"
>
  <div style="width: 100%; height: 100%;">
    <%= image_tag('newsletter_header.png', style: 'width: 100%; height: auto;', id: 'newsletter-header-img') %>
    <span id="newsletter-title"
          style="position: absolute; color: #FFF;"
    >
      <%= @newsletter.title %>
    </span>
  </div>
  <div id="sticky-header">
    <ul class="nav nav-tabs" role="tablist">
      <% @newsletter.news_elements.group_by(&:category).each do |category, elements| %>
        <li role="presentation"
            style=""
        >
          <a href="#<%= category.id + '_category' %>"><%= "#{category.name}" %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="page-content" style="min-width: 500px; max-width: 800px; margin: 0 auto;">
    <% @newsletter.news_elements.group_by(&:category).each do |category, elements| %>

    <h1 align="center"><%= category.name %></h1>
    <hr />
    <div id="<%= category.id + '_category' %>" style="margin-bottom: 50px;">
      <% elements.each do |element| %>
        <div id="">
          <%= render partial: find_partial_show(element.newsletterable.class.to_s), :locals => {element: element} %>
        </div>
      <% end %>
      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  $( window ).resize(function() {
    place_title();
  });


  $(document).ready(function(){
    place_title();
    $('#page-wrapper').scrollspy({ target: '#sticky-header' });
    var stickyRibbonTop = $('#sticky-header').offset().top;

    $(window).scroll(function(){
      if( $(window).scrollTop() > stickyRibbonTop ) {
        $('#sticky-header').css({position: 'fixed', top: '0px'});
      } else {
        $('#sticky-header').css({position: 'static', top: '0px'});
      }
    });
  });
</script>