<h1>Neues Stellenangebot erstellen</h1>
<%= form_for(@employe_notice) do |d| %>
  <div class="form-group">
    <%= d.label :title, "Titel" %>
    <%= d.text_field :title, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_name, "Firmenname" %>
    <%= d.text_field :business_name, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_phone, "Telefon" %>
    <%= d.text_field :business_phone, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_mail, "Email" %>
    <%= d.text_field :business_mail, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_street, "Straße Hausnr." %>
    <%= d.text_field :business_street, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_postalcode, "PLZ" %>
    <%= d.text_field :business_postalcode, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :business_city, "Stadt" %>
    <%= d.text_field :business_city, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= d.label :description, "Beschreibung" %>
    <%= d.cktext_area :description %>
  </div>
  <div class="form-group">
    <%= d.label :department, "Fachgebiet" %>
    <%= d.collection_select(
      :department_id,
      Department.all,
      :id, :name,
      {},
      { class: 'form-control', id: 'department-input'}
    ) %>
  </div>
  <div class="actions">
    <%= d.submit 'Speichern', class: 'btn btn-large' %>
  </div>

<% end %>
