
<%= form_tag'/newsletter/element/save',remote: true, onsubmit: 'set_parent_to_modify(this)' do %>
  <%= hidden_field_tag :element_type, 'Article' %>
  <%= hidden_field_tag :newsletter_id, Newsletter.last.id %>

  <div class="form-group">
    <%= collection_select(:article, :id, Article.all, :id, :title, {}, {class: 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= collection_select(:category, :category_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= submit_tag 'Artikel hinzufügen', class: 'btn btn-large' %>
  </div>
<% end %>