<!DOCTYPE html>
<html>
<head>
  <title>Blublisher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Übersicht<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/categories">Kategorien</a></li>
            <li><a href="/articles">Artikel</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/departments">Branchen</a></li>
            <li><a href="/employment_notices">Stellenanzeigen</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Erstellen<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/articles/new">Artikel</a></li>
            <li><a href="/categories/new">Kategorie</a></li>
            <li><a href="/events/new">Event</a></li>
            <li><a href="/departments/new">Branche</a></li>
            <li><a href="/employment_notices/new">Stellenanzeige</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div class="container jumbotron" style="">
  <%= yield %>
</div>

</body>
</html>
